.title {
  width: 330px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: var(--title);
  margin-bottom: 40px;
}
